elektronska-posta/src/main/resources/email.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://email" xmlns:es="http://email">

    <xs:element name="email">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="to" type="xs:string"/>
                <xs:element name="subject" type="xs:string"/>
                <xs:element name="content" type="xs:string"/>
                <xs:element name="attachment" type="xs:base64Binary"/>
            </xs:sequence>
            <xs:attribute name="attachmentType"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
