portal poverenika/poverenik/src/main/resources/izjasnjenje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://izjasnjenje" xmlns="http://izjasnjenje">

    <xs:element name="izjasnjenje">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sadrzaj" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="emailPoverenik" type="xs:string"/>
            <xs:attribute name="emailSluzbenik" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>